@page
@model Language_Learning_App.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">
            <h2 class="text-center">Create a new account</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control" placeholder="Enter first name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" placeholder="Enter last name" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email address" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100 btn-lg mt-2">Register</button>
        </form>
    </div>
</div>