@page
@model Language_Learning_App.Pages.Languages.CreateModel

<h1>Create Language</h1>

<form method="post">
	<div>
		<label>Name:</label>
		<input asp-for="Language.Name" />
	</div>
	<button type="submit">Save</button>
</form>
