@page
@model Language_Learning_App.Pages.Flashcards.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flashcard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Front</dt>
        <dd class="col-sm-10">@Model.Flashcard.FrontText</dd>
        <dt class="col-sm-2">Back</dt>
        <dd class="col-sm-10">@Model.Flashcard.BackText</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Flashcard.FlashcardID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-route-deckId="@Model.Flashcard.DeckID">Back to List</a>
    </form>
</div>