@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ready to Learn?!</h1>
    <p>This project was created by Nathan Porter as his Database Management Systems class project.</p>
</div>
